    <!--Offers-->
<div class="main_offers">
    <div class="box main_offers__box">
        <h2 class="offers_title">Các ưu đãi tối nhất</h2>
        <div class="offers_items">
            @foreach (var item in new DuLich.Models.mapTour().DanhSachUuDai())
            {
                <div class="offers_item">
                    <div class="offers_image">
                        <div class="offers_image_background" style="background-image: url(@item.HinhAnh)"></div>
                        <div class="offers_name"><a href="~/TourDuLich/ChiTiet?idTour=@item.ID&idAlbum=@item.IdAlbum">@item.TieuDe</a></div>
                    </div>
                    <div class="offers_content">
                        <div class="offers_price">@string.Format("{0:#,0}", item.GiaTour) đ/Tour</div>
                        <h3 style="color: crimson; font-weight: bold;">@string.Format("{0:#,0}", item.GiaTour / item.SoNguoiToiDa) đ/Người </h3>
                        <h3>Số người tối đa: @item.SoNguoiToiDa</h3>
                        <div class="rating rating_4 offers_rating">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <p class="offers_text">
                            @Html.Raw(@item.BaiViet)
                        </p>
                        <div class="icons">
                            <ul class="icons">
                                <li class="offers_icons_item"><img src="/Content/styles/images/post.png" alt=""></li>
                                <li class="offers_icons_item"><img src="/Content/styles/images/compass.png" alt=""></li>
                                <li class="offers_icons_item"><img src="/Content/styles/images/bicycle.png" alt=""></li>
                                <li class="offers_icons_item"><img src="/Content/styles/images/sailboat.png" alt=""></li>
                            </ul>
                        </div>
                        <div class="offers_link"><a href="~/TourDuLich/ChiTiet?idTour=@item.ID&idAlbum=@item.IdAlbum">Đọc thêm</a></div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
