@model DuLich.Models.TourDuLich
@{ var user = (DuLich.Models.TaiKhoan)System.Web.HttpContext.Current.Session["userhome"]; }
@{ var lichtrinh = new DuLich.Models.mapLichTrinh().ChiTiet(Model.IdLichTrinh ?? 0);}
@{
    ViewBag.Title = "ChiTiet";
    Layout = "~/Views/Shared/layout.cshtml";
    int? idAlbum = ViewBag.IdAlbum;
}

<link href="~/Content/styles/css/flatsome.css" rel="stylesheet" />
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<!--Offers-->
<div class="main_offers" style="padding-top:0">
    <div class="box main_offers__box">
        <div class="block-breadcrumb" style="margin-bottom:0">
            <div class="row">
                <div class="large-12 col">
                    <div class="breadcrumb">
                        <span><span><a href="~/Home/Index">Trang chủ</a> » <span class="breadcrumb_last" aria-current="page">@Model.TieuDe</span></span></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="large-12 col">
                <div class="tour-single-wrapper">
                    <h1 class="tour-title">
                        @Model.TieuDe
                    </h1>
                    <div class="row row-small">
                        <div class="large-8 col">
                            <div class="box-tour-gallery">
                                <div class="tour-gallery">
                                    @if (idAlbum == null)
                                    {
                                        <img class="demo" src="@Model.HinhAnh" style="width:100%;cursor:pointer">
                                    }
                                    else
                                    {
                                        <div class="w3-content" style="max-width:1200px">
                                            @foreach (var item in new DuLich.Models.mapHinhAnh().DanhSach(idAlbum ?? 0))
                                            {
                                                <img class="mySlides item" src="@item.Url" style="display:none">
                                            }
                                            <div class="w3-row-padding w3-section">
                                                @foreach (var item in new DuLich.Models.mapHinhAnh().DanhSach(idAlbum ?? 0))
                                                {
                                                    <div class="w3-col s4">
                                                        <img class="demo w3-opacity w3-hover-opacity-off" src="@item.Url" style="width:100%;cursor:pointer" onclick="currentDiv(@item.ThuTu)">
                                                    </div>
                                                }
                                            </div>
                                        </div>

                                        <script>
                                            function currentDiv(n) {
                                                showDivs(slideIndex = n);
                                            }

                                            function showDivs(n) {
                                                var i;
                                                var x = document.getElementsByClassName("mySlides");
                                                var dots = document.getElementsByClassName("demo");
                                                if (n > x.length) { slideIndex = 1 }
                                                if (n < 1) { slideIndex = x.length }
                                                for (i = 0; i < x.length; i++) {
                                                    x[i].style.display = "none";
                                                }
                                                for (i = 0; i < dots.length; i++) {
                                                    dots[i].className = dots[i].className.replace(" w3-opacity-off", "");
                                                }
                                                x[slideIndex - 1].style.display = "block";
                                                dots[slideIndex - 1].className += " w3-opacity-off";
                                            }
                                        </script>
                                    }


                                </div>
                            </div>

                            <div id="flag1" class="block-detail-tour">
                                <h3 class="block-detail-title">
                                    <i class="fa fa-info-circle"></i> Điểm nhấn hành trình
                                </h3>
                                @if (lichtrinh == null)
                                {
                                    <h6>Không có điểm nhấn</h6>
                                }
                                else
                                {
                                    @Html.Raw(lichtrinh.DiemNhan)
                                }
                            </div>
                            <div id="flag2" class="block-detail-tour">
                                <h3 class="block-detail-title">
                                    <i class="fa fa-map"></i> Lịch trình
                                </h3>
                                @if (lichtrinh == null)
                                {
                                    <h6> Không có lịch trình</h6>
                                }
                                else
                                {
                                    @Html.Raw(lichtrinh.LichTrinh1)
                                }
                            </div>
                            <div id="flag3" class="block-detail-tour">
                                <h3 class="block-detail-title">
                                    <i class="fa fa-paperclip"></i> Dịch vụ bao gồm và không bao gồm
                                </h3>
                                <div class="block-detail-tour-content">
                                    <p><strong>GIÁ TOUR BAO GỒM:</strong></p>
                                    <ul>
                                        @foreach (var item in new DuLich.Models.mapDichVu().DanhSach("A"))
                                        {
                                            <li>@item.TenDichVu</li>
                                        }
                                    </ul>
                                    <p><strong>GIÁ TOUR KHÔNG BAO GỒM: </strong></p>
                                    <ul>
                                        @foreach (var item in new DuLich.Models.mapDichVu().DanhSach("B"))
                                        {
                                            <li>@item.TenDichVu</li>
                                        }
                                    </ul>
                                </div>
                            </div>
                            <div id="flag4" class="block-detail-tour">
                                <h3 class="block-detail-title">
                                    <i class="fa fa-file-text-o"></i> Ghi chú
                                </h3>
                                @if (lichtrinh == null)
                                {
                                    <h6>Không có ghi chú</h6>
                                }
                                else
                                {
                                    @Html.Raw(lichtrinh.GhiChu)
                                }
                            </div>
                            <div id="flag5" class="block-detail-tour">
                                <h3 class="block-detail-title">
                                    <i class="fa fa-comment"></i> Bình luận (@(new DuLich.Models.mapBinhLuan().SoLuongBL(Model.ID)))
                                </h3>
                                <div class="card">
                                    @foreach (var bl in new DuLich.Models.mapBinhLuan().DanhSachTop5(1, Model.ID, null))
                                    {
                                        var tkbl = new DuLich.Models.mapTaiKhoan().ChiTiet(bl.MaTaiKhoan);
                                        <div style="padding: 1em;" class="d-flex flex-start">
                                            <img class="rounded-circle shadow-1-strong me-3"
                                                 src="@tkbl.HinhAnh" alt="avatar" style="width: 4em; height: 4em;" /> &nbsp;&nbsp;
                                            <div class="flex-grow-1 flex-shrink-1">
                                                <div>
                                                    <div class="d-flex justify-content-between align-items-center">
                                                        <p style="color: #007bff !important; font-weight: bold;" class="mb-1">
                                                            @tkbl.TenHienThi <span class="small">- @bl.NgayDang</span>
                                                        </p>
                                                    </div>
                                                    <p class="small mb-0">
                                                        @bl.NoiDung
                                                    </p>
                                                    <div class="small d-flex justify-content-start">

                                                        @using (Html.BeginForm("Update", "BinhLuan", FormMethod.Post))
                                                        {
                                                            @Html.AntiForgeryToken()
                                                            <input name="maTour" value="@Model.ID" hidden />
                                                            <input name="idAlbum" value="@Model.IdAlbum" hidden />
                                                            <input name="MaBinhLuan" value="@bl.MaBinhLuan" hidden />
                                                            <input name="LuotThich" value="@bl.LuotThich" hidden />
                                                            <input name="loai" value="Like" hidden />
                                                            <button style="color: #007bff !important" class="w3-button">Like (@bl.LuotThich)</button>
                                                        }

                                                        &nbsp;&nbsp;
                                                        <button style="color: #007bff !important" onclick="comment('@bl.MaBinhLuan', '@tkbl.TenHienThi')" class="w3-button">Comment (@bl.LuotTraLoi)</button>
                                                        &nbsp;&nbsp;
                                                        @using (Html.BeginForm("Update", "BinhLuan", FormMethod.Post))
                                                        {
                                                            @Html.AntiForgeryToken()
                                                            <input name="maTour" value="@Model.ID" hidden />
                                                            <input name="idAlbum" value="@Model.IdAlbum" hidden />
                                                            <input name="MaBinhLuan" value="@bl.MaBinhLuan" hidden />
                                                            <input name="LuotChiaSe" value="@bl.LuotChiaSe" hidden />
                                                            <input name="loai" value="Share" hidden />
                                                            <button style="color: #007bff !important" class="w3-button">Share (@bl.LuotChiaSe)</button>
                                                        }
                                                    </div>
                                                </div>
                                                @foreach (var bl1 in new DuLich.Models.mapBinhLuan().DanhSachTop5(2, Model.ID, bl.MaBinhLuan))
                                                {
                                                    var tkbl1 = new DuLich.Models.mapTaiKhoan().ChiTiet(bl1.MaTaiKhoan);
                                                    <div class="d-flex flex-start mt-4">
                                                        <a class="me-3" href="#">
                                                            <img class="rounded-circle shadow-1-strong"
                                                                 src="@tkbl1.HinhAnh" alt="avatar" style="width: 4em; height: 4em;" /> &nbsp;&nbsp;
                                                        </a>
                                                        <div class="flex-grow-1 flex-shrink-1">
                                                            <div>
                                                                <div class="d-flex justify-content-between align-items-center">
                                                                    <p style="color: #007bff !important; font-weight: bold;" class="mb-1">
                                                                        @tkbl1.TenHienThi <span class="small">- @bl1.NgayDang</span>
                                                                    </p>
                                                                </div>
                                                                <p class="small mb-0">
                                                                    @bl1.NoiDung
                                                                </p>
                                                                <div class="small d-flex justify-content-start">
                                                                    @using (Html.BeginForm("Update", "BinhLuan", FormMethod.Post))
                                                                    {
                                                                        @Html.AntiForgeryToken()
                                                                        <input name="maTour" value="@Model.ID" hidden />
                                                                        <input name="idAlbum" value="@Model.IdAlbum" hidden />
                                                                        <input name="MaBinhLuan" value="@bl1.MaBinhLuan" hidden />
                                                                        <input name="LuotThich" value="@bl1.LuotThich" hidden />
                                                                        <input name="loai" value="Like" hidden />
                                                                        <button style="color: #007bff !important" class="w3-button">Like (@bl1.LuotThich)</button>
                                                                    }
                                                                    &nbsp;&nbsp;
                                                                    <button style="color: #007bff !important" onclick="comment('@bl.MaBinhLuan', '@tkbl1.TenHienThi')" class="w3-button">Comment (@bl1.LuotTraLoi)</button>
                                                                    &nbsp;&nbsp;
                                                                    @using (Html.BeginForm("Update", "BinhLuan", FormMethod.Post))
                                                                    {
                                                                        @Html.AntiForgeryToken()
                                                                        <input name="maTour" value="@Model.ID" hidden />
                                                                        <input name="idAlbum" value="@Model.IdAlbum" hidden />
                                                                        <input name="MaBinhLuan" value="@bl1.MaBinhLuan" hidden />
                                                                        <input name="LuotChiaSe" value="@bl1.LuotChiaSe" hidden />
                                                                        <input name="loai" value="Share" hidden />
                                                                        <button style="color: #007bff !important" class="w3-button">Share (@bl1.LuotChiaSe)</button>
                                                                    }
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    }
                                    <div class="card-footer py-3 border-0" style="background-color: #f8f9fa;">
                                        @using (Html.BeginForm("Create", "BinhLuan", FormMethod.Post))
                                        {
                                            @Html.AntiForgeryToken()
                                            <div class="d-flex flex-start w-100">
                                                <div class="form-outline w-100">
                                                    <textarea name="NoiDung" class="form-control" id="textAreaExample" rows="4" style="background: #fff;"></textarea>
                                                    <label class="form-label" for="textAreaExample">Message</label>
                                                </div>
                                            </div>

                                            <div class="float-end mt-2 pt-1">
                                                @if (user != null && Request.Cookies["user-dulich"] != null)
                                                {
                                                    <input name="maTour" value="@Model.ID" hidden />
                                                    <input name="idAlbum" value="@Model.IdAlbum" hidden />
                                                    <input name="MaTaiKhoan" value="@user.TenDangNhap" hidden />
                                                    <input name="idBinhLuan" value="" hidden />
                                                    <button type="submit" class="btn btn-primary btn-sm">Đăng</button>
                                                }
                                                else
                                                {
                                                    <div class="btn-booking dt"><a href="#" class="btn-order-tour" onclick="if (confirm('Bạn chưa đang nhập! Có muốn đăng nhập không?')) { location.href = '/TaiKhoanHome/FormDangNhap' }">Đăng</a></div>
                                                }
                                            </div>
                                        }
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="tour-sidebar large-4 col">
                            <div class="boxDesign1">
                                <div class="name">@Model.TieuDe</div>
                                <div class="attr">
                                    <ul>
                                        <li>
                                            <div class="at">Mã tour</div>
                                            <div class="as">@Model.ID</div>
                                        </li>
                                        <li>
                                            <div class="at">Số ngày đi tour:</div>
                                            <div class="as">@Model.SoNgayDiTour Ngày</div>
                                        </li>
                                        <li>
                                            <div class="at">Lịch định kỳ:</div>
                                            <div class="as">@Model.LichDinhKy</div>
                                        </li>
                                        <li>
                                            <div class="at">Số người tối đa / Tour:</div>
                                            <div class="as">@Model.SoNguoiToiDa</div>
                                        </li>
                                        <li>
                                            <div>
                                                <div style="float:unset" class="at">
                                                    Số lượng (Người lớn và trẻ em + lại không được quá @Model.SoNguoiToiDa người)
                                                </div>
                                                <div class="as">
                                                    <h4>Người lớn:</h4>
                                                    <input id="nguoilon" type="number" value="1" min="1" max="@Model.SoNguoiToiDa" />
                                                    <h4>Trẻ em (5-9 tuổi và cao từ 100-140cm):</h4>
                                                    <input id="treem" type="number" value="1" min="1" max="@Model.SoNguoiToiDa" />
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="at">Khởi hành:</div>
                                            <div class="as">@Model.GioKhoiHanh</div>
                                        </li>
                                        <li>
                                            <div class="at">Khách Sạn:</div>
                                            <div class="as">
                                                <select id="phuongtien" name="idPhuongTien" class="form-dropdown" style="width:150px" data-component="dropdown" required="" aria-label="Vehicle Type">
                                                    <option value="">Select</option>
                                                    @foreach (var item in new DuLich.Models.mapKhachSan().DanhSach())
                                                    {
                                                        <option value="@item.ID_KhachSan">@item.TenKhachSan | Giá: @item.GiaPhong</option>
                                                    }
                                                </select>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="at">Di chuyển:</div>
                                            <div class="as">
                                                <select id="phuongtien" name="idPhuongTien" class="form-dropdown" style="width:150px" data-component="dropdown" required="" aria-label="Vehicle Type">
                                                    <option value="">Select</option>
                                                    @foreach (var item in new DuLich.Models.mapPhuongTien().DanhSachPhuongTien(Model.DiChuyen))
                                                    {
                                                        <option value="@Model.DiChuyen">@item.Ten | Giá: @item.Gia/@item.DonVi</option>
                                                    }
                                                </select>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="at">Xuất phát:</div>
                                            <div class="as">Từ @Model.DiemXuatPhat</div>
                                        </li>
                                        <li>
                                            <div class="at">Điểm đến:</div>
                                            <div class="as">Đến @Model.DiaDiem</div>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div style=" position: sticky; top: 0">
                                <div class="boxFix">
                                    <div class="boxPrice">
                                        <div style="padding:4px" class="price">
                                            <div class="txt">Giá tour:</div>
                                            <div class="red" id="giactt">@string.Format("{0:#,0}", Model.GiaTour / Model.SoNguoiToiDa) đ/Người</div>
                                        </div>
                                        <div style="padding:4px" class="price">
                                            <div class="txt">Chưa cộng phí di chuyển, khách sạn</div>
                                        </div>
                                        <div style="padding:4px" class="price">
                                            <div class="txt">Chưa khấu trừ phí trẻ em dưới 10 tuổi</div>
                                        </div>
                                        <div class="bot" style="padding-top: 0;">
                                            @if (user != null && Request.Cookies["user-dulich"] != null)
                                            {
                                                <div class="btn-booking dt"><a href="#" class="btn-order-tour" onclick="return theFunction(this)">ĐẶT TOUR</a></div>
                                            }
                                            else
                                            {
                                                <div class="btn-booking dt"><a href="#" class="btn-order-tour" onclick="if (confirm('Bạn chưa đang nhập! Có muốn đăng nhập không?')) { location.href = '/TaiKhoanHome/FormDangNhap' }">ĐẶT TOUR</a></div>
                                            }
                                        </div>
                                    </div>
                                    <div class="boxDesign2">
                                        <ul>
                                            <li class=""><a href="#flag1">Điểm nhấn hành trình</a></li>
                                            <li class=""><a href="#flag2">Lịch trình</a></li>
                                            <li class=""><a href="#flag3">Dịch vụ bao gồm và không bao gồm</a></li>
                                            <li class=""><a href="#flag4">Ghi chú</a></li>
                                            <li class=""><a href="#flag5">Bình luận</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    function theFunction() {
        var nguoilon = Number(document.getElementById("nguoilon").value);
        var treem = Number(document.getElementById("treem").value);
        var soluong = Number(nguoilon + treem);

        if (soluong <= @Model.SoNguoiToiDa) {
            location.assign("/TourDuLich/DatTour?idTour=@Model.ID&nguoilon=" + nguoilon + "&treem=" + treem + "&phuongtien=@Model.DiChuyen");
        }else {
            return alert('Số lượng hành khách không được vượt quá ' + @Model.SoNguoiToiDa);
        }
    }
    function comment(mbl, tenHT) {
        document.getElementById('tagTen').innerHTML = '@@'+tenHT+' ';
        document.getElementById('id01').style.display = 'block';
        document.getElementById('idBL').value = mbl;
    }
</script>


<div id="id01" class="w3-modal">
    <div class="w3-modal-content">
        <div class="w3-container">
            <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-display-topright">&times;</span>

            <div class="card-footer py-3 border-0" style="right: 2em; background-color: #f8f9fa;">
                @using (Html.BeginForm("Create", "BinhLuan", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <div class="d-flex flex-start w-100">
                        <div class="form-outline w-100">
                            <textarea name="NoiDung" class="form-control" id="tagTen" rows="4" style="background: #fff;"></textarea>
                            <label class="form-label" for="textAreaExample">Message</label>
                        </div>
                    </div>

                    <div class="float-end mt-2 pt-1">
                        @if (user != null && Request.Cookies["user-dulich"] != null)
                        {
                            <input name="maTour" value="@Model.ID" hidden />
                            <input name="idAlbum" value="@Model.IdAlbum" hidden />
                            <input name="MaTaiKhoan" value="@user.TenDangNhap" hidden />
                            <input name="idBinhLuan" id="idBL" value="" hidden />
                            <button type="submit" class="btn btn-primary btn-sm">Đăng</button>
                        }
                        else
                        {
                            <div class="btn-booking dt"><a href="#" class="btn-order-tour" onclick="if (confirm('Bạn chưa đang nhập! Có muốn đăng nhập không?')) { location.href = '/TaiKhoanHome/FormDangNhap' }">Đăng</a></div>
                        }
                    </div>
                }
            </div>

        </div>
    </div>
</div>




