@{ var user = (DuLich.Models.TaiKhoan)System.Web.HttpContext.Current.Session["userhome"]; }
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>@ViewBag.title</title>

    @RenderSection("meta", false)

    <link rel="icon" href="~/Data/HinhAnh/Icon.jpg" type="image/x-icon" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <link href="~/Content/plugin/jquery-confirm/jquery-confirm.css" rel="stylesheet" />
    <link href="~/Content/plugin/toast/jquery.toast.css" rel="stylesheet" />
    <link href="~/Content/plugin/bootstrap-table/bootstrap-table.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/Content/styles/css/main_style.css">
    <!--Search_Top-->
    <link href="~/Areas/Admin/assets/css/Search_Top.css" rel="stylesheet" />
    <script src="~/Content/js/jquery.3.2.1.min.js"></script>
    <script src="~/Content/plugin/jquery-confirm/jquery-confirm.js"></script>
    <script src="~/Content/plugin/toast/jquery.toast.js"></script>
    <script src="~/Content/plugin/bootstrap-table/bootstrap-table.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/font-awesome.min.css">

    <script src="~/Content/ckfinder/ckfinder.js"></script>
    <script src="~/Content/ckeditor/ckeditor.js"></script>
    <script src="~/Areas/Admin/assets/js/table2excel.js"></script>

    <script src="~/Content/styles/js/jquery-ui.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/styles/css/slick.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/styles/css/slick-theme.css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script type="text/javascript" src="~/Content/styles/js/slick.min.js"></script>
    <script>
        $(function () {
            $("#tabs").tabs();
        });
    </script>
</head>
<body>

    <!-- Header -->
    <header class="header">
        <!-- Top Bar -->
        <div class="top_bar">
            <div class="bar__info">
                <div class="phone">+84 382 158 066</div>
            </div>
            <div class="bar__user">
                @if (user != null && Request.Cookies["user-dulich"] != null)
                {
                    <div class="bar__user-image">
                        <a href="/TaiKhoanHome/ThongTinTaiKhoan?tenDangNhap=@user.TenDangNhap"><img src="@user.HinhAnh" class="img-circle elevation-2 border border-dark border-10" style="margin-right: 20px; border-radius: 30px; background: linear-gradient(to right, #FF6633, #3333FF, #FF6633); height: 35px; width: 35px; "></a>
                    </div>
                    <div class="bar__user-login"><a href="~/TaiKhoanHome/ThongTinTaiKhoan?tenDangNhap=@user.TenDangNhap">@user.TenHienThi</a></div>
                    <div class="bar__user-login"><a href="~/TaiKhoanHome/DangXuat">Đăng Xuất</a></div>
                }
                else
                {
                    <img src="~/Data/HinhAnh/Icon.jpg" class="img-circle elevation-2 border border-dark border-5" style=" margin-right: 20px; border-radius: 30px; height: 35px; width: 35px;">
                    <div class="bar__user-login"><a href="~/TaiKhoanHome/FormDangNhap">Đăng Nhập</a></div>
                    <div class="bar__user-regis"><a href="~/TaiKhoanHome/DangKy">Đăng Ký</a></div>
                }
            </div>
        </div>

        <div class="main_nav">
            <div class="main_nav__logo"><a href="~/Admin/HomeAdmin/Index"><img src="~/Data/HinhAnh/Logo.png" alt="logo"> TIEUDAOVIET</a></div>
            <div class="main_nav__menu">
                <ul class="main_nav__list">
                    <li class="main_nav__item"><a href="~/Home/Index">TRANG CHỦ</a></li>
                    <li class="main_nav__item"><a href="~/Home/About">GIỚI THIỆU</a></li>
                    <li class="main_nav__item"><a href="~/Home/Offers">ƯU ĐÃI</a></li>
                    <li class="main_nav__item"><a href="~/Home/Blog">TIN TỨC</a></li>
                    <li class="main_nav__item"><a href="~/Home/Contact">LIÊN HỆ</a></li>
                </ul>
            </div>
            <!-- Search_Top -->
            <div class="main_nav__search">
                <form style="display: flex" action="~/TourDuLich/KetQuaTimKiem">
                    <input style="margin-top: 0.5em" name="ten" class="search_input" type="text" placeholder="Nhập từ khóa tìm Kiếm..">
                    <button class="search_button" type="submit">Search</button>
                </form>
            </div>
        </div>
    </header>

    <!--Main-->
    @RenderBody()

    <!-- footer -->
    <footer class="footer">
        <button onclick="ChuyenTrangFacebook()" id="back_top"> <i class="fa fa-plus-square" aria-hidden="true"></i></button>
        <div class="box footer__box">
            <div class="footer__about">
                <div class="footer__logo">
                    <div class="logo">
                        <a href="#"><img src="~/Content/styles/images/logo.png" alt="">TIEUDAOVIET</a>
                    </div>
                </div>
                <p class="footer_about__text">
                    TIEUDAOVIET tự hào là một đơn vị tiêu biểu trong lĩnh vực tour du lịch đón nhận giải thưởng uy tín
                    nhất dành cho cộng đồng doanh nghiệp Việt Nam.
                </p>
            </div>
            <div class="footer__tags">
                <div class="footer_title">Tags</div>
                <ul class="tags_list">
                    @foreach (var item in new DuLich.Models.mapTinhThanh().DanhSachQuocGia(1))
                    {
                        <li class="tags_item"><a href="~/TourDuLich/DanhSachTheoTinh?idTinh=@item.ID_Tinh">@item.Ten</a></li>
                    }
                </ul>
            </div>
            <div class="footer__contact">
                <div class="footer_title">Liên hệ</div>
                <ul class="contact_list">
                    <li class="contact_item">
                        <div class="contact_icon"><i class="fas fa-map-marker-alt"></i></div>
                        <div class="contact_text">20 Đường Tăng Nhơn Phú, Phước Long B, Thủ Đức, Thành phố Hồ Chí Minh</div>
                    </li>
                    <li class="contact_item">
                        <div class="contact_icon"><i class="fas fa-phone-square"></i></div>
                        <div class="contact_text">+84 382 158 066</div>
                    </li>
                    <li class="contact_item">
                        <div class="contact_icon"><i class="fas fa-envelope"></i></div>
                        <div class="contact_text">Tieudaoviet@gmail.com</div>
                    </li>
                </ul>
            </div>
        </div>
    </footer>

    @RenderSection("script", false)


    <script src="~/Content/styles/js/main_js.js"></script>
    <script>
        $("#single_item").slick({
            dots: true
        });
        $("#testimonials").slick({
            dots: false
        });
    </script>
    <script>
        function ChuyenTrangFacebook() {
            $.confirm({
                title: 'Chuyển đến trang facebook của chúng tôi để nhận tư vấn!',
                content: 'Nhấn ok để truy cập nhanh!',
                buttons: {
                    OK: function () {
                        location.href = 'https://facebook.com';
                    },
                    Hủy: function () {
                        $.alert('Đã hủy!');
                    },
                    somethingElse: {
                        text: 'Something else',
                        btnClass: 'btn-blue',
                        keys: ['enter', 'shift'],
                        action: function () {
                            $.alert('Something else?');
                        }
                    }
                }
            });
        }
    </script>
</body>
</html>


